@charset "UTF-8";
@-webkit-keyframes bounce {
    0%,
    50% {
        top: 10px;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    25%,
    75% {
        top: -10px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    to {
        top: 10px
    }
}

@keyframes bounce {
    0%,
    50% {
        top: 10px;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    25%,
    75% {
        top: -10px;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    to {
        top: 10px
    }
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    height: 100%
}

html {
    font-size: 62.5%
}

body {
    background: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 400
}

.main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px
}

a {
    text-decoration: none
}

ol,
ul {
    margin: 0
}

img {
    max-width: 100%;
    display: block
}

.minutes,
.order__hint-name,
.order__hint-phone,
.order__prices,
.order__title,
.product__descr,
.product__list-item,
.product__title,
.promo__list-item,
.reviews__item-name,
.sale-link,
.seconds,
.smalltext {
    font-family: "Roboto", sans-serif;
    font-weight: 700
}

.slick-list,
.slick-slider {
    position: relative;
    display: block
}

.slick-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,
.slick-track:before {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-initialized .slick-slide,
.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.sale-link {
    display: inline-block;
    background: #d8ae12;
    padding: 2rem 7rem;
    border-radius: 1rem;
    font-size: 1.7rem;
    color: #000;
    text-transform: uppercase;
    -webkit-box-shadow: .2rem .2rem .2rem #000;
    box-shadow: .2rem .2rem .2rem #000
}

ol[class],
ul[class] {
    padding: 0
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol[class],
p,
ul[class] {
    margin: 0
}

ul[class] {
    list-style: none
}

button,
input,
select,
textarea {
    font: inherit
}

.product {
    position: relative;
    padding: 5rem 0
}

.product__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1
}

.product__title {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #6d3d72
}

.product__descr {
    max-width: 70rem;
    font-size: 1.7rem;
    margin: 0 auto;
    margin-bottom: 10rem
}

.product__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.product__img {
    -o-object-fit: cover;
    object-fit: cover
}

.product__content {
    margin-left: 10rem
}

.product__list {
    background: #6d3d72;
    border: .1rem solid #d8ae12;
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000
}

.product__list-item {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: #eee;
    padding: 1.5rem
}

.product__list-item:last-child,
.structure__item:last-child {
    margin-bottom: 0
}

.product__link {
    margin-top: 5rem
}

.structure {
    background: url(../img/bg.jpg);
    display: block;
    position: relative;
    padding: 30rem 0 15rem;
    z-index: 2
}

.structure__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.structure__product {
    text-align: center
}

.structure__img {
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 3rem
}

.structure__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5rem;
    text-align: center
}

.structure__item-round {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: .1rem solid #000;
    margin-bottom: 2rem
}

.structure__item-img {
    width: 10rem;
    height: 10rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 100%
}

.structure__item-text {
    font-size: 1.5rem;
    color: #000
}

.structure__items-left {
    margin-right: 10rem
}

.structure__items-right {
    margin-left: 10rem
}

.reviews {
    display: block;
    padding: 15rem 0 25rem
}

.reviews__items {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.reviews__item {
    width: 70% !important;
    min-height: 34rem;
    display: block !important;
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    margin: 0 auto;
    -webkit-box-shadow: .2rem .2rem .2rem #000;
    box-shadow: .2rem .2rem .2rem #000
}

.reviews__item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem
}

.reviews__item-round {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: .1rem solid #000;
    margin-right: 3rem
}

.reviews__item-name {
    font-size: 2.5rem
}

.reviews__item-content {
    font-size: 1.7rem
}

.reviews__item-text {
    max-width: 70rem
}

.reviews__item-img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.slick-dots {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 120%;
    left: 55rem
}

.slick-dots button {
    font-size: 0;
    border: 0;
    background: #eee;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin-right: 2.5rem
}

.slick-active button {
    width: 1.5rem;
    height: 1.5rem;
    background: #d8ae12;
    border: .1rem solid #000
}

.slick-prev {
    position: absolute;
    top: 45%
}

.slick-next,
.slick-prev {
    background: 0 0;
    border: 0
}

.slick-prev {
    left: .6rem
}

.slick-next {
    position: absolute;
    right: 1.6rem;
    top: 43%
}

.promo {
    background: url(../img/bg.jpg);
    padding: 15rem 0
}

.promo__content,
.promo__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.promo__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.promo__content {
    margin-bottom: 5rem
}

.promo__img {
    width: 300rem;
    margin-right: 5rem
}

.promo__text {
    font-size: 2rem;
    color: #000
}

.promo__info {
    margin-bottom: 5rem
}

.promo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.promo__list-item {
    font-size: 15px;
    margin-right: 5rem;
    color: #000
}

.promo__list-item:last-child {
    margin-right: 0
}

.order {
    padding: 10rem 0 15rem
}

.order__title {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #fff
}

.order__content,
.order__timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.order__timer {
    margin-bottom: 5rem
}

.order__content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.order__info {
    margin-right: 5rem
}

.order__prices {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem
}

.order__old-price {
    margin-right: 5rem;
    text-decoration: line-through;
    color: #fff
}

.order__form,
.order__new-price {
    position: relative;
    border-radius: 1rem;
    -webkit-box-shadow: .2rem .2rem .2rem #000;
    box-shadow: .2rem .2rem .2rem #000
}

.order__new-price {
    background: #d8ae12;
    color: #000;
    padding: 2rem;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-duration: 9.5s;
    animation-duration: 9.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.order__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 70rem;
    height: 40rem;
    background: #6d3d72;
    padding: 2rem 5rem
}

.order__form-input {
    outline: transparent;
    display: block;
    width: 100%;
    padding: 2rem 1rem;
    border: .2rem solid #000;
    border-radius: 1rem;
    margin-bottom: 3rem;
    font-size: 1.3rem
}

.order__hint-name,
.order__hint-phone {
    display: none;
    position: absolute;
    top: 5.7rem;
    right: 4rem
}

.order__hint-phone {
    top: 15rem;
    right: 3.5rem
}

.order__form-btn {
    cursor: pointer
}

.minutes,
.seconds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #d8ae12;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem
}

.minutes {
    margin-right: 3rem
}

.smalltext {
    text-align: center;
    font-size: 1.3rem;
    color: #fff
}

.smalltext-minutes {
    padding-right: 3rem
}

.err {
    position: absolute;
    border: .3rem solid #d8ae12;
    font-size: 1.3rem;
    top: 34rem;
    right: 2.9rem;
    color: #fff;
    padding: 1rem
}

@supports (-webkit-appearance:none) {
    .promo,
    .structure {
        background-image: url(../img/bg.webp)
    }
}

@media (max-width:1700px) {
    .slick-dots {
        display: none
    }
}

@media (max-width:1368px) {
    .structure {
        padding: 10rem 0
    }
    .reviews {
        padding: 5rem 0 10rem
    }
}

@media (max-width:1180px) {
    .product__bg {
        display: none
    }
    .product__descr,
    .product__title {
        color: #fff
    }
}

@media (max-width:865px) {
    .structure__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .structure__product {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
    .structure__items {
        margin: 0 0 5rem
    }
    .slick-next,
    .slick-prev {
        display: none
    }
    .promo {
        padding-top: 10rem;
        padding-bottom: 10rem
    }
    .promo__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .promo__text {
        margin-top: 5rem;
        text-align: center
    }
    .promo__info {
        display: none
    }
}

@media (max-width:765px) {
    .product__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: 0;
        margin-top: 5rem
    }
    .product__content,
    .product__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .product__list {
        width: 100%
    }
    .order__info {
        display: none
    }
}

@media (max-width:560px) {
    .product__list-item {
        font-size: 1.5rem
    }
    .reviews__item {
        width: 90% !important
    }
}

@media (max-width:475px) {
    .promo {
        padding-top: 3rem
    }
    .promo__text {
        font-size: 1.7rem
    }
    .order__old-price {
        display: block;
        margin-right: 0;
        margin-bottom: 5rem
    }
    .order__form {
        max-width: 100%
    }
}

@media (max-width:360px) {
    .product__list {
        text-align: center
    }
    .reviews {
        padding-bottom: 5rem
    }
    .reviews__item-text {
        font-size: 1.5rem
    }
    .order__form {
        padding: 2rem
    }
    .order__form-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}